.canvas {
  width: 500px;
  height: 600px;
  background-color: #4d0f00;

  /* REMOVED adding padding to the canvas gives the "one" class something solid to push off of. REMOVED*/
  /* replaced the padding to overflow: hidden because adding padding of 1px changed the dimensions of the canvas */
  /* NOTE: I STILL DON'T REALLY KNOW WHY THIS WORKS IN PREVENTING THE CHILD MARGIN FROM AFFECTING THE CANVAS
  MARGIN */
  overflow: hidden;

  /* blurs the painting */
  filter: blur(2px);
}

.frame {
  border: 50px solid black;
  /* match the width of the canvas */
  width: 500px;
  /* add space between the painting and the frame */
  padding: 50px;
  /* moves the frame down 20px and automatically centers it horizontally */
  /* NOTE: DOING THIS MOVED THE CANVAS TOO */
  margin: 20px auto;
}

.one {
  width: 425px;
  height: 150px;
  background-color: #efb762;

  /* doing this adds top/bottom margin and centers the rectangle horizontally */
  /* NOTE: THIS PUSHED THE WHOLE PAINTING A BIT DOWNWARD, AND ADDED NO WHITESPACE BETWEEN THE RECTANGLE
  AND THE CANVAS ITSELF, RATHER ADDED MORE SPACE BETWEEN THE CANVAS AND THE FRAME. */
  margin: 20px auto;

  /* softens the edges of this rectangle and increases the area */
  box-shadow: 0 0 3px 3px #efb762;

  /* rounds the corners of the rectangle */
  border-radius: 9px;

  transform: rotate(-0.6deg);
}

.two {
  width: 475px;
  height: 200px;
  background-color: #8f0401;

  /* has a top margin of 0, pushes the bottom margin down 20px and centers it horizontally*/
  margin: 0 auto 20px;

  box-shadow: 0 0 3px 3px #8f0401;

  /* rounds the corners */
  border-radius: 8px 10px;

  transform: rotate(0.4deg);
}

.three {
  width: 91%;
  height: 28%;
  background-color: #b20403;
  margin: auto;
  filter: blur(2px);
  box-shadow: 0 0 5px 5px #b20403;

  border-radius: 30px 25px 60px 12px;

  transform: rotate(-0.2deg);
}

.one, .two {
  filter: blur(1px);
}

