* {
  box-sizing: border-box;
  border: 1px solid black;
}

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.background-buildings, .foreground-buildings {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.bb, .fb {
  width: 10%;
  
}

.bb1 {
  height: 40%;
  margin-top: 60%;
  
}

.bb2 {
  height: 30%;
}

.bb3 {
  height: 35%;
}


.fb1 {
  height: 50%;
}

.fb2 {
  height: 30%;
}

.fb3 {
  height: 30%;
}
